@font-face {
    font-family: 'Syne';
    src: url('fonts/syne-Medium.woff2') format('woff2'),
        url('fonts/syne-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Syne';
    src: url('fonts/syne-Regular.woff2') format('woff2'),
        url('fonts/syne-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Syne';
    src: url('fonts/syne-Bold.woff2') format('woff2'),
        url('fonts/syne-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Syne';
    src: url('fonts/syne-SemiBold.woff2') format('woff2'),
        url('fonts/syne-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

